<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title layout:fragment="titulo">Posts</title>
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
			function apagar( url){
				$.ajax({
					  url: url,
				  method: "DELETE",
				  dataType: "html"
				}).done(function( msg ) {
					  alert('Remoção executada.');
					  document.reload();
				});
			}
		</script>
	</head>
	<body>
		<header>
			<h1 th:text="${titulo}">Jupter 1</h1>
		</header>
		<div class="row-fluid">
			<div id="aside" class="span3"></div>
			<main id="content" role="main" class="span9">
				<div class="page-content">
					<section layout:fragment="content"></section>
				</div>
			</main>
		</div>
		<footer class="footer" role="contentinfo"></footer>
	</body>
</html>