<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoputs/layout}">
	<body>
		<section layout:fragment="content">
			<div>
				<h2 th:if="${ #lists.isEmpty(itens) or itens is null }">Não encontramos categorias</h2>
				<div  th:if="${not #lists.isEmpty(itens) }">
					<h2>Categorias</h2>
					<table>
						<thead>
							<tr>
								<th>Nome</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${itens}">
								<td th:text="${item.nome}"></td>
								<td><a th:href="@{/from/{id}(id=${item.id})}">Editar</a></td>
								<td><a th:href="@{/{id}(id=${item.id})}">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p>
					<a href="/categoria/form">Adicionar</a>
				</p>
			</div>
		</section>
	</body>
</html>


