<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base/layout">
<head>
<title>Posts</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Materias</strong>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-sm table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Titulo</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="materia : ${materias}">
								<td th:text="${materia.id}"></td>
								<td th:text="${materia.titulo}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<a class="btn btn-sm btn-success" th:href="@{/add/}">Adicionar</a>
			</div>
		</div>
	</section>
</body>
</html>